<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t('rich_editor') %></h1>

<%= form_tag(admin_editor_settings_path, :method => :put) do %>
    <p>
      <%= label_tag 'preferences[enabled]', t('enable_rich_editor') %>:
      <%= check_box_tag('preferences[enabled]', '1', Spree::Editor::Config[:enabled]) %>
    </p>
    <p>
      <%= label_tag 'preferences[current_editor]', t('rich_editor_engine') %>:
      <%= select_tag 'preferences[current_editor]', options_for_select(SpreeEditor::EditorEngines, Spree::Editor::Config[:current_editor])  %>
    </p>
    <p>
      <%= label_tag 'preferences[ids]', t('rich_editor_ids') %>:
      <%= text_field_tag 'preferences[ids]', Spree::Editor::Config[:ids] %>
      <small><%= t('rich_editor_ids_description') %></small>
    </p>
    <p class="form-buttons">
      <%= button t('update') %>
      <%= t("or") %> <%= link_to t("cancel"), admin_editor_settings_url %>
    </p>
<% end %>