<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= Spree.t('rich_editor') %></h1>

<%= form_for(@config, :as => "editor_configuration", :url => spree.admin_editor_settings_path, :method => :put) do |form| %>
  <fieldset id="preferences">
    <%= form.field_container :current_editor do %>
      <%= form.label(:current_editor, Spree.t('rich_editor_engine')) %>
      <%= select_tag :current_editor, options_for_select(SpreeEditor::EditorEngines, @config[:current_editor])  %>
    <% end %>
    <%= form.field_container :enabled do %>
      <%= preference_field_tag(:enabled,   @config[:enabled], :type => :boolean) %>
      <%= form.label(:enabled, Spree.t(:enable_rich_editor)) %>
    <% end %>
    <%= form.field_container :ids do %>
      <%= form.label(:ids, Spree.t(:rich_editor_ids_description)+": ") + tag(:br) %>
      <%= preference_field_tag(:ids,  @config[:ids], :type => :text) %>
    <% end %>
  </fieldset>
  <p class="form-buttons">
    <%= button Spree.t('update') %>
    <%= Spree.t("or") %> <%= link_to Spree.t("cancel"), spree.admin_editor_settings_url %>
  </p>
<% end %>
