<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= Spree.t("rich_editor") %></h1>

<table>
  <thead>
    <tr>
      <th><%= Spree.t('setting') %></th>
      <th><%= Spree.t('value') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= Spree.t('enable_rich_editor') %>:</td>
      <td><%= @config[:enabled] ? Spree.t('say_yes') : Spree.t('say_no') %></td>
    </tr>
    <tr>
      <td><%= Spree.t('rich_editor_engine') %>:</td>
      <td><%= @config[:current_editor] %></td>
    </tr>
    <tr>
      <td><%= Spree.t('rich_editor_ids') %>:</td>
      <td><%= @config[:ids] %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to Spree.t("edit"), spree.edit_admin_editor_settings_path, class: 'button icon-edit' %></p>